.message { 
    display: flex;
    align-items: center;
    
    &__received {
        align-self: flex-start;
        width: fit-content;
        color: $color_white;
        max-width: 70%;
        margin-left: 1rem;
        width: 100%;
    }
    &__sent {
        float: right;
        align-self: flex-end;
        border-radius: 10px;
        width: fit-content;
        padding: 0.5rem 0.8rem;
        color: $color_white;
        max-width: 70%;
        margin-right: 1rem;
        width: 100%;
        margin-right: 1rem;
    }

    &__bot {
        border-top: 1px solid $color_grey;
        border-bottom: 1px solid $color_grey;
        padding: 1rem;
        margin: 1rem;
        color: $color_secondary;
        font-weight: $font_weight_bold;
        justify-content: center;
        width: 100%;
    }

    &__baloon {

        &--received {
            background: $color_grey;
            color: $color_secondary;
            border-radius: 10px;
            padding: 1rem 0.8rem;
            margin-top: .5rem;
            margin-left: 10px;
        }
        &--sent {
            border-radius: 10px;
            background: $color_primary;
            margin-left: 10px;
            margin-top: .5rem;
            padding: 1rem 0.8rem;
            position: relative;
            margin-left: auto;
        }
    }
}