.message { 
    display: flex;
    align-items: center;

    .kind {
        padding: .5rem;
        color: $color_black;
    }

    .blur {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
    
    &__received {
        align-self: flex-start;
        width: fit-content;
        color: $color_white;
        max-width: 70%;
        margin-left: 1rem;
        width: 100%;
    }

    &__sent {
        border-radius: 10px;
        padding: 0.2rem 0.8rem;
        color: $color_white;
        margin-right: 0.7rem;
        justify-content: flex-end;
    }

    &__bot {
        align-self: flex-start;
        width: fit-content;
        color: $color_white;
        max-width: 70%;
        margin-left: 1rem;
        width: 100%;
    }

    &__baloon {
        &--received {
            background: $color_white;
            color: $color_secondary;
            border-radius: 10px;
            padding: 1rem 0.8rem;
            margin-top: .5rem;
            margin-left: 10px;
        }
        &--sent {        
            border-radius: 10px;
            background: $color_primary;
            margin-left: 10px;
            margin-top: .5rem;
            padding: 1rem 0.8rem;
            position: relative;
        }

        &--sent-deleted {        
            border-radius: 10px;
            color: $color_light_grey;
            background: $color_grey;
            margin-left: 10px;
            margin-top: .5rem;
            padding: 1rem 0.8rem;
            position: relative;
            font-size: $font_size_xs;
        }

        &--received-deleted {        
            color: $color_light_grey;
            background: $color_grey;
            border-radius: 10px;
            padding: 1rem 0.8rem;
            margin-top: .5rem;
            margin-left: 10px;
            font-size: $font_size_xs;

        }

        &--bot {
            background: $color_white;
            border: 1px solid  $color_grey;
            color: $color_secondary;
            border-radius: 10px;
            padding: 1rem 0.8rem;
            margin-top: .5rem;
            margin-left: 10px;
        }
    }
}

.kind-msg {
    color: $color_secondary;
    font-size: $font_size_xs;
    margin: .3rem 0;

    &--left {
        margin-left: 1rem;
    }
}