@import './_fonts';
@import './_base';
@import './_layout';
@import './components/_button';
@import './components/_avatar';
@import './components/_person';
@import './components/_chat';
@import './components/_message';

.margin-auto {
	margin: auto;
}

.margin-r-auto {
	margin-right: auto!important;
}

.margin-r-0 {
	margin-right: 0!important;
}

.pointer {
	cursor: pointer;
}

.loader {
	span {
		width: 100%;
		color: $color_secondary;
		font-size: $icon_size_l;
	}
}

.search-input {
	margin: .5rem 1.5rem;
	input {
		font-size: $font_size_s;
		background: $color_grey;
		font-weight: $font_weight_light;
		color: $color_black;
		border-radius: 10px;
		border: 0;
		padding: 0.5rem 1rem;
		width: -webkit-fill-available;
		outline: none;
		::placeholder {
			color: $color_grey;
		}
	}
	
}